<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CrystalReports" version="13.0.5.891" targetFramework="net472" />
  <package id="MetroModernUI" version="1.4.0.0" targetFramework="net472" />
  <package id="System.Configuration.ConfigurationManager" version="9.0.0" targetFramework="net472" />
</packages>